.bottom-panel {
    overflow: scroll;
}
.box {
    width:200px;
    float: left;
    padding: 10px;
    overflow: hidden;
    display:block;
}

.title {
    text-align: center;
font-weight: bold;
}

#quick-icon {
    background-image: url(icons/icon.png);
    background-size: 24px;
}